<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Change Your Password</h1>
<form action="" method="post" name="change_password">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Your old password:</td>
            <td>{{form.old_password(size = 24)}}</td>
        </tr>
        <tr>
            <td>Your new password:</td>
            <td>{{form.new_password(size = 24)}}</td>
        </tr>
		<tr>
            <td>Confirm your new password:</td>
            <td>{{form.confirm_password(size = 24)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endblock %}